@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

.register-body {
  background-color: #00477F;
  height: 590px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 60px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 37px;
  color: #00477F;
}

.header-title-emory{
  font-weight:600;
}

.header-title {
  margin-left: 15px;
}

.register-body-title{
  padding-left: 9px;
  font-family: 'Raleway', sans-serif;
  color: yellow;
  font-size: 25px;
  font-weight:600;
}

.register-body-main-component{
  height: 350px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-last-name {
 display: flex;
}

.name-col{
  flex: 1; /* additionally, equal width */

  padding: 9px;
}

.user-input{
  width: 100%;
  padding: 10px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: white;
}


.submit-button{
  background-color: #00477F;
  border: 2px solid yellow;
  border-radius: 8px;
  color: yellow;
  padding: 3px 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight:600;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

.submit-button:hover{
  background-color: yellow;
  color: #00477F;
}

.inputs-sizes{
  padding-left: 9px;
  padding-right: 9px;
}

.submit-button-row {
  display: flex;
  justify-content: center;
}

.register-body-success{
  background-color: #00477F;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-body-main-component-success{
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.register-body-title-success{
  padding-left: 9px;
    font-family: 'Raleway', sans-serif;
    color: yellow;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.inputs-sizes-success{
  padding-left: 9px;
  padding-right: 9px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.login-body-main-component{
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
}

.login-body-title{
    font-family: 'Raleway', sans-serif;
    color: yellow;
    font-size: 25px;
    font-weight: 600;
}

.forgot-password-button{
  background-color: #00477F;
  border: 1px solid #00477F;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.forgot-password-button:hover{
  color: grey;
}

.inputs-sizes-password{
  height: 120px;
  padding-left: 9px;
}

.login-body-main-component{
  height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
}
